@media (min-width: 1200px) {
  body {
    background: #f3f4f5;
  }
}

.btn {
  border-radius: 10px;
}

.navbar {
  background: rgba(241, 242, 244, 0.8);
  border-bottom-width: 1px;
  border-bottom-color: #dfe3e7;
}

td {
  text-align: left;
  vertical-align: middle;
  color: #ffffff;
}

.bi-link-45deg {
  font-size: 2em;
}

/* CSS for video background */
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.15);
}

/* CSS for content */
#content {
  position: relative;
  z-index: 1;
  padding: 20px;
}